DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydb
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio_123$
MINIO_ENDPOINT=localhost:9010
MINIO_BUCKET_NAME=categorize-files
REDIS_HOST=redis
REDIS_PORT=6379
# Development only
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
