[submodule "vue-categorise-frontend"]
	path = vue-categorise-frontend
	url = git@github.com:Herob527/vue-categorise-frontend.git
	branch = main
[submodule "fastapi-categorise-backend"]
	path = fastapi-categorise-backend
	url = git@github.com:Herob527/fastapi-categorise-backend.git
	branch = main
