services:
  nginx:
    build:
      context: ../
      target: base
    ports:
      - 3050:3050
      - 8080:8080
    networks:
      - nginx
    develop:
      watch:
        - action: sync+restart
          path: ../nginx.conf
          target: /etc/nginx/nginx.conf
    depends_on:
      - backend
      - frontend

  nginx-minio:
    build:
      context: ../
      target: base-minio
    deploy:
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 5
        window: 60s
    ports:
      - 9010:80
    networks:
      - nginx
      - storage
    develop:
      watch:
        - action: sync+restart
          path: ../nginx-minio.conf
          target: /etc/nginx/nginx.conf
    depends_on:
      - minio

