services:
  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    container_name: categorize-minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - storage
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    env_file:
      - ../.env

volumes:
  minio_data:
    driver: local
